pkgbase = obsidian-launcher
pkgdesc = Keyboard-driven search launcher for Obsidian vaults
pkgver = 1.0.0
pkgrel = 1
url = https://github.com/limbsjones/obsidian-launcher
install = 
arch = x86_64
license = MIT
makedepends = cargo
makedepends = git
depends = glibc
depends = gcc-libs
depends = libxkbcommon
depends = wayland
depends = xdg-utils
depends = xdotool
depends = wmctrl
optdepends = obsidian: the note-taking app (optional, opens notes in Obsidian)
source = https://github.com/limbsjones/obsidian-launcher/archive/v1.0.0.tar.gz
validpgpkeys = 
sha256sums = SKIP
